@model IEnumerable<SISWORK.Models.ShopModel>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
    ViewData["Title"] = "Index";
}

<h1>САЙТ ПРОСМОТРА НОМЕРОВ</h1>
<style>
    body {
        background-image: url('FlyTown.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-attachment: fixed;
        background-size: cover;
        font-size: 15px;
    }
</style>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Come)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Come)
                </td>
                <td>
                    @if (SignInManager.IsSignedIn(User))
                    { //true
                        <a asp-action="Edit" asp-route-id="@item.id">ИЗМЕНИТЬ</a>
                        <a asp-action="Details" asp-route-id="@item.id"> ПРОСМОТРЕТЬ </a>

                        <a asp-action="Delete" asp - route - id="@item.id"> УДАЛИТЬ </a>
                    }
                    else {
                    <a asp-action="Details" asp-route-id="@item.id"> ПРОСМОТРЕТЬ </a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
